:root {
  --main-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Sansation";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}

.login-container, .register-container {
  width: 853px;
  height: 515px;
  border-radius: 30px;
  background-color: #3b3c43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  box-shadow: var(--main-shadow);
}

.register-container{
    width: 580px;
    height: 670px;
}

h2 {
  color: white;
  font-size: 32px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 390px;
  height: 46px;
  color: white;
  background-color: #35353c;
  border: 1px solid #5e5e5e;
  border-radius: 13px;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom: 2px;
  box-shadow: var(--main-shadow);
}

button {
  width: 406px;
  height: 48px;
  border-radius: 18px;
  font-size: 26px;
  background-color: #276acd;
  color: white;
  border: none;
  box-shadow: var(--main-shadow);
}

.input-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  color: white;
  font-size: 24px;
}

p {
  color: white;
  font-size: 21px;
}

.link {
  color: #5696f5;
}

.link:hover,
button {
  cursor: pointer;
}

.erorr{
    color: rgba(255, 0, 0, 0.637);
}

@media (max-width: 1024px) {
  .login-container{
    width: 560px;
    height: 580px;
    gap: 35px;
  }

  .register-container{
    width: 530px;
    height: 600px;
  }
}

@media (max-width: 768px) {
  .register-container{
    width: 450px;
    height: 500px;
  }

}

@media (max-width: 476px) {
  .login-container{
    width: 450px;
    height: 500px;
    gap: 30px;
  }

  .register-container{
    width: 400px;
    height: 500px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 22px;
  }

  input, button{
    width: 350px;
  }

  p{
    font-size: 19px;
  }
}