body{
    margin: 0;
}

.main-title{
    margin: 0;
    font-size: 80px;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgb(107, 107, 107);
    margin-bottom: 30px;
}

.header-part{
    display: flex;
    gap: 10px;
}

.product-card{
    width: 300px;
    margin-inline: 30px;
}

.card-image{
    width: 300px;
    border-radius: 20px;
}

.price{
    font-size:23px;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-card{
    width: 100%;
    border: none;
    height: 50px;
    font-size: 22px;
    background-color: hotpink;
    border-radius: 15px;
}

.to-card:hover{
    cursor: pointer;
}

.to-card:active{
    background-color: rgb(220, 20, 187);
}

.cards-container{
    display: flex;
    justify-content: center;
}